@import "_settings.scss";

.zui-alert {
    background: $alert-info-background;
    border: $alert-info-border;
    border-radius: 3px;
    line-height: 20px;
    margin: 0 0 20px 0;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;

    &:before {
        background-color: $alert-info-border-color;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 40px;
    }

    &:after {
        color: #FFF;
        content: $alert-font-icon-info;
        font-family: zui;
        font-size: 18px;
        left: 12px;
        line-height: 1;
        margin-top: -8px;
        position: absolute;
        speak: none;
        top: 50%;
    }

    &.zui-alert-danger {
        background: $alert-danger-background;
        border: $alert-danger-border;
        
        &:before {
            background-color: $alert-danger-border-color;
        }
        
        &:after {
            content: $alert-font-icon-danger;
        }
    }
    
    &.zui-alert-success {
        background: $alert-success-background;
        border: $alert-success-border;
        
        &:before {
            background-color: $alert-success-border-color;
        }
        
        &:after {
            content: $alert-font-icon-success;
        }
    }
    
    &.zui-alert-warning {
        background: $alert-warning-background;
        border: $alert-warning-border;
        
        &:before {
            background-color: $alert-warning-border-color;
        }
        
        &:after {
            content: $alert-font-icon-warning;
        }
    }
    
    &.zui-alert-subtle {
        background: $alert-subtle-background;
        border: $alert-subtle-border;
        
        &:before {
            background-color: $alert-subtle-border-color;
        }
        
        &:after {
            content: $alert-font-icon-subtle;
        }
    }

    .zui-alert-title {
        font-weight: 700;
    }
    
    p:last-child {
        margin-bottom: 0px;
    }
    
    .zui-icon-x[role="button"] {
        color: #707070;
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    
    .zui-icon-x[role="button"]:hover {
        color: #000;
    }
}
