@import "variables";
@import "mixins";

.zui-alert {
    background: $zui-alert-info-background;
    border: $zui-alert-info-border;
    border-radius: 3px;
    line-height: 20px;
    margin: 0 0 20px 0;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;

    &:before {
        background-color: $zui-alert-info-border-color;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 40px;
    }

    &:after {
        color: #FFF;
        content: $zui-alert-font-icon-info;
        font-family: zui;
        font-size: 18px;
        left: 12px;
        line-height: 1;
        margin-top: -8px;
        position: absolute;
        speak: none;
        top: 50%;
    }
}

.zui-alert.zui-alert-danger {
    @include zui-alert(
            $zui-alert-danger-background,
            $zui-alert-danger-border,
            $zui-alert-danger-border-color,
            $zui-alert-font-icon-danger
    );
}

.zui-alert.zui-alert-success {
    @include zui-alert(
            $zui-alert-success-background,
            $zui-alert-success-border,
            $zui-alert-success-border-color,
            $zui-alert-font-icon-success
    );
}

.zui-alert.zui-alert-warning {
    @include zui-alert(
            $zui-alert-warning-background,
            $zui-alert-warning-border,
            $zui-alert-warning-border-color,
            $zui-alert-font-icon-warning
    );
}

.zui-alert.zui-alert-subtle {
    @include zui-alert(
            $zui-alert-subtle-background,
            $zui-alert-subtle-border,
            $zui-alert-subtle-border-color,
            $zui-alert-font-icon-subtle
    );
}

.zui-alert .zui-alert-title {
    font-weight: 700;
}

.zui-alert .zui-icon-x[role="button"] {
    color: #707070;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.zui-alert .zui-icon-x[role="button"]:hover {
    color: #000;
}

.zui-alert p:last-of-type {
    margin-bottom: 0;
}
