/// The background color of a dangerous alert.
/// @type color
/// @pattern alert
$zui-alert-danger-background: #FFF !default;

/// The border color of a dangerous alert.
/// @type color
/// @pattern alert
$zui-alert-danger-border-color: $color-alert !default;

/// The border of a dangerous alert.
/// @type color
/// @pattern alert
$zui-alert-danger-border: 1px solid $zui-alert-danger-border-color !default;

/// The background color of an information alert.
/// @type color
/// @pattern alert
$zui-alert-info-background: #FFF !default;

/// The border color of an information alert.
/// @type color
/// @pattern alert
$zui-alert-info-border-color: $color-info !default;

/// The border of an information alert.
/// @type color
/// @pattern alert
$zui-alert-info-border: 1px solid $zui-alert-info-border-color !default;

/// The background color of a success alert.
/// @type color
/// @pattern alert
$zui-alert-success-background: #FFF !default;

/// The border color of a success alert.
/// @type color
/// @pattern alert
$zui-alert-success-border-color: $color-success !default;

/// The border of a success alert.
/// @type color
/// @pattern alert
$zui-alert-success-border: 1px solid $zui-alert-success-border-color !default;

/// The background color of a warning alert.
/// @type color
/// @pattern alert
$zui-alert-warning-background: #FFF !default;

/// The border color of a warning alert.
/// @type color
/// @pattern alert
$zui-alert-warning-border-color: $color-warning !default;

/// The border of a warning alert.
/// @type color
/// @pattern alert
$zui-alert-warning-border: 1px solid $zui-alert-warning-border-color !default;

/// The background color of a subtle alert.
/// @type color
/// @pattern alert
$zui-alert-subtle-background: #FFF !default;

/// The border color of a subtle alert.
/// @type color
/// @pattern alert
$zui-alert-subtle-border-color: #DFDFDF !default;

/// The border of a subtle alert.
/// @type color
/// @pattern alert
$zui-alert-subtle-border: 1px solid $zui-alert-subtle-border-color !default;

/// The icon character that is used for dangerous alerts.
/// @type string
/// @pattern alert
$zui-alert-font-icon-danger: "\f10c" !default;

/// The icon character that is used for information alerts.
/// @type string
/// @pattern alert
$zui-alert-font-icon-info: "\f118" !default;

/// The icon character that is used for success alerts.
/// @type string
/// @pattern alert
$zui-alert-font-icon-success: "\f109" !default;

/// The icon character that is used for warning alerts.
/// @type string
/// @pattern alert
$zui-alert-font-icon-warning: "\f130" !default;

/// The icon character that is used for warning alerts.
/// @type string
/// @pattern alert
$zui-alert-font-icon-subtle: "\f118" !default;
