@import "variables";

.zui-note {
    background: $zui-note-background;
    border: $zui-note-border;
    border-radius: $zui-note-border-radius;
    cursor: $zui-cursor-move-value;
    display: none;
    font-size: 0.8em;
    font-style: italic;
    line-height: 2em;
    max-width: $zui-note-max-width;
    padding: $zui-note-padding;
    position: absolute;
    z-index: 1000;

    .zui-note-title {
        font-weight: bold;
    }

    .zui-icon.zui-icon-x {
        cursor: $zui-cursor-pointer-value;
        position: absolute;
        right: $zui-note-padding;
        top: $zui-note-padding;
    }
}
