/// The color of an h1-element.
/// @type color
/// @pattern header
$zui-header-h1-color: #333 !default;

/// The color of an h2-element.
/// @type color
/// @pattern header
$zui-header-h2-color: #333 !default;

/// The color of an h3-element.
/// @type color
/// @pattern header
$zui-header-h3-color: #333 !default;

/// The color of an h4-element.
/// @type color
/// @pattern header
$zui-header-h4-color: #333 !default;

/// The color of an h5-element.
/// @type color
/// @pattern header
$zui-header-h5-color: #333 !default;

/// The color of an h6-element.
/// @type color
/// @pattern header
$zui-header-h6-color: #333 !default;

/// The font-size of an h1-element.
/// @type color
/// @pattern header
$zui-header-h1-font-size: zui-rem-calc(38) !default;

/// The font-size of an h2-element.
/// @type color
/// @pattern header
$zui-header-h2-font-size: zui-rem-calc(34) !default;

/// The font-size of an h3-element.
/// @type color
/// @pattern header
$zui-header-h3-font-size: zui-rem-calc(30) !default;

/// The font-size of an h4-element.
/// @type color
/// @pattern header
$zui-header-h4-font-size: zui-rem-calc(26) !default;

/// The font-size of an h5-element.
/// @type color
/// @pattern header
$zui-header-h5-font-size: zui-rem-calc(22) !default;

/// The font-size of an h6-element.
/// @type color
/// @pattern header
$zui-header-h6-font-size: zui-rem-calc(18) !default;

/// The color of a small element within a header.
/// @type color
/// @pattern header
$zui-header-small-color: #6F6F6F !default;

/// The font-size of a small element within a header.
/// @type font-size
/// @pattern header
$zui-header-small-font-size: 60% !default;

/// The subheader color of an h1-element.
/// @type color
/// @pattern header
$zui-subheader-h1-color: #6F6F6F !default;

/// The subheader color of an h2-element.
/// @type color
/// @pattern header
$zui-subheader-h2-color: #6F6F6F !default;

/// The subheader color of an h3-element.
/// @type color
/// @pattern header
$zui-subheader-h3-color: #6F6F6F !default;

/// The subheader color of an h4-element.
/// @type color
/// @pattern header
$zui-subheader-h4-color: #6F6F6F !default;

/// The subheader color of an h5-element.
/// @type color
/// @pattern header
$zui-subheader-h5-color: #6F6F6F !default;

/// The subheader color of an h6-element.
/// @type color
/// @pattern header
$zui-subheader-h6-color: #6F6F6F !default;

/// The font-size of an h1 subheader element.
/// @type color
/// @pattern header
$zui-subheader-h1-font-size: $zui-header-h1-font-size !default;

/// The font-size of an h2 subheader element.
/// @type color
/// @pattern header
$zui-subheader-h2-font-size: $zui-header-h2-font-size !default;

/// The font-size of an h3 subheader element.
/// @type color
/// @pattern header
$zui-subheader-h3-font-size: $zui-header-h3-font-size !default;

/// The font-size of an h4 subheader element.
/// @type color
/// @pattern header
$zui-subheader-h4-font-size: $zui-header-h4-font-size !default;

/// The font-size of an h5 subheader element.
/// @type color
/// @pattern header
$zui-subheader-h5-font-size: $zui-header-h5-font-size !default;

/// The font-size of an h6 subheader element.
/// @type color
/// @pattern header
$zui-subheader-h6-font-size: $zui-header-h6-font-size !default;
