@import "variables";
@import "mixins";

#{$zui-flexgrid-class-container},
#{$zui-flexgrid-class-container-fluid} {
    margin-right: auto;
    margin-left: auto;
}

#{$zui-flexgrid-class-container-fluid} {
    padding-right: 2rem;
    padding-left: 2rem;
}

#{$zui-flexgrid-class-row} {
    @include zui-flexbox();
    @include zui-flex-wrap(wrap);

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

#{$zui-flexgrid-class-row-reverse} {
    @extend #{$zui-flexgrid-class-row};

    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@media #{$zui-flexgrid-media-query-lg} {
    @include zui-flexgrid-cells(
            $zui-flexgrid-class-lg-column,
            $zui-flexgrid-class-lg-push
    );
}

@media #{$zui-flexgrid-media-query-md} {
    @include zui-flexgrid-cells(
            $zui-flexgrid-class-md-column,
            $zui-flexgrid-class-md-push
    );
}

@media #{$zui-flexgrid-media-query-sm} {
    @include zui-flexgrid-cells(
            $zui-flexgrid-class-sm-column,
            $zui-flexgrid-class-sm-push
    );
}

@media #{$zui-flexgrid-media-query-xs} {
    @include zui-flexgrid-cells(
            $zui-flexgrid-class-xs-column,
            $zui-flexgrid-class-xs-push
    );
}
