.zui-docs-color {
    background-color: #F2F2F2;
    border: 1px solid #CCC;
    float: left;
    text-align: center;
    margin: 0px 10px 10px 0px;
    padding-bottom: 5px;
    width: 175px;

    div {
        border-bottom: 1px solid #CCC;
        height: 50px;
        margin-bottom: 10px;
    }

    .zui-docs-color-white {
        background-color: $zui-color-white;
    }

    .zui-docs-color-black {
        background-color: $zui-color-black;
    }

    .zui-docs-color-red {
        background-color: $zui-color-red;
    }

    .zui-docs-color-blue {
        background-color: $zui-color-blue;
    }

    .zui-docs-color-green {
        background-color: $zui-color-green;
    }

    .zui-docs-color-yellow {
        background-color: $zui-color-yellow;
    }

    .zui-docs-color-primary {
        background-color: $zui-color-primary;
    }

    .zui-docs-color-primary-hover {
        background-color: $zui-color-primary-hover;
    }

    .zui-docs-color-primary-border {
        background-color: $zui-color-primary-border;
    }

    .zui-docs-color-secondary {
        background-color: $zui-color-secondary;
    }

    .zui-docs-color-secondary-hover {
        background-color: $zui-color-secondary-hover;
    }

    .zui-docs-color-alert {
        background-color: $zui-color-alert;
    }

    .zui-docs-color-success {
        background-color: $zui-color-success;
    }

    .zui-docs-color-warning {
        background-color: $zui-color-warning;
    }

    .zui-docs-color-info {
        background-color: $zui-color-info;
    }
}
