.zui-docs-cursor {
    background-color: #F2F2F2;
    border: 1px solid #CCC;
    float: left;
    height: 50px;
    line-height: 50px;
    margin: 0px 10px 10px 0px;
    text-align: center;
    width: 200px;
}
