.zui-icon-example {
    background: #F9F9F9;
    border: 1px solid #CCC;
    float: left;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    width: 210px;
}

.zui-icon-example i {
    font-size: 25px;
}
