@import "settings";

#{$zui-badge-selector} {
    background: $zui-badge-background;
    border-radius: 2em;
    color: $zui-badge-color;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: .99;
    margin: 0;
    min-height: 1em;
    min-width: 1em;
    padding: 3px 5px 2px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
}
