fieldset {
    border: 0;
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;

    &.zui-group {
        @include zui-box-sizing(border-box);
        
        clear: both;
        padding: 4px 0 4px 145px;
        padding-top: 0;
        position: relative;
        margin: 1px 0;
        width: 100%;

        &:after,
        &:before {
            content: " ";
            display: table;
        }
    }

    legend {
        color: #707070;
        display: block;
        float: left;
        margin-left: -145px;
        padding: 5px 0 0;
        position: relative;
        text-align: right;
        width: 130px;
        word-wrap: break-word;
    }

    legend + .zui-field-group {
        margin-top: 0;
        padding-top: 5px;
    }
}
