@import "fieldset";
@import "input";
@import "select";
@import "textarea";
@import "field-group";

.zui-top-label {
    .zui-field-group {
        margin-bottom: 15px;
        padding: 0px;
    }
    
    .zui-field-group > label {
        display: block;
        float: none;
        margin: 0 0 5px;
        padding: 0;
        text-align: left;
        width: auto;
    }
}

.zui-form-long {
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="time"],
    input[type="week"],
    input[type="month"],
    input[type="number"],
    input[type="color"],
    input[type="range"],
    input[type="search"],
    input[type="tel"],
    input[type="email"],
    input[type="url"],
    select,
    textarea {
        max-width: 500px;
    }
}

.zui-form-short {
    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="time"],
    input[type="week"],
    input[type="month"],
    input[type="number"],
    input[type="color"],
    input[type="range"],
    input[type="search"],
    input[type="tel"],
    input[type="email"],
    input[type="url"],
    select,
    textarea {
        max-width: 75px;
    }
}
