select {
    @include zui-box-sizing(border-box);

    background-color: whitesmoke;
    border: 1px solid #CCC;
    border-radius: 3.01px;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    max-width: 250px;
    padding: 6px 5px 5px;
    vertical-align: baseline;
    width: 100%;
    
    &[multiple] {
        height: auto;
        margin: 0;
        padding: 4px 5px;
        vertical-align: top;
    }
}
