@import "variables";

#{$zui-dialog-selector}#{$zui-file-selection-selector} {
    height: 500px;

    form {
        border-bottom: $zui-dialog-border;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;

        .zui-error {
            color: #FF0000;
            margin-top: 10px;
        }
    }

    .zui-dialog-panel ul {
        list-style-type: none;
        margin: 20px;
        padding: 0;
    }

    .zui-file-selection-toolbar {
        background: #FAFAFA;
        border-bottom: $zui-dialog-border;
        padding: 10px 20px;

        .zui-button-file {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    li {
        display: inline-block;
        height: 48px;
        margin: 0px 10px 10px 0px;
        width: 48px;
    }

    li button {
        background: none;
        border: 0;
        margin: 0;
        padding: 0;
    }
}

.zui-file-selection-container.zui-file-selection-view-grid {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &:after {
            clear: both;
            content: ' ';
            display: block;
        }
    }

    li {
        display: block;
        float: left;
        height: auto;
        margin: 0px 10px 10px 0px;
        position: relative;
        width: 128px;

        button {
            background: none;
            border: 0;
            height: auto;
            margin: 0;
            padding: 0;

            img {
                height: 128px;
                margin-bottom: 10px;
                width: 128px;
            }

            img, .zui-file-selection-label {
                display: block;
            }

            .zui-file-selection-delete {
                background: #FFF;
                border: 1px solid #CCC;
                height: 21px;
                position: absolute;
                right: 10px;
                top: 10px;
                width: 20px;
            }
        }
    }
}

.zui-file-selection-trigger-thumb,
.zui-file-selection-trigger-label {
    cursor: $zui-cursor-pointer-value;
}
