@import "variables";

#{$zui-dialog-selector}#{$zui-file-selection-selector} {
    height: 500px;

    form {
        border-bottom: $zui-dialog-border;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;

        .zui-error {
            color: #FF0000;
            margin-top: 10px;
        }
    }

    .zui-dialog-panel ul {
        list-style-type: none;
        margin: 20px;
        padding: 0;
    }

    .zui-file-selection-toolbar {
        background: #FAFAFA;
        border-bottom: $zui-dialog-border;
        padding: 10px 20px;

        .zui-button-file {
            position: absolute;
            top: 10px;
            right: 20px;
        }
    }

    li {
        display: inline-block;
        height: auto;
        margin: 0px 10px 10px 0px;
        width: 48px;
    }

    li button {
        background: none;
        border: 0;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

.zui-file-selection-trigger-thumb,
.zui-file-selection-trigger-label {
    cursor: $zui-cursor-pointer-value;
}
