/// The selector that matches banners.
/// @type string
/// @pattern banner
$zui-banner-selector: ".zui-banner" !default;

/// The selector that matches dangerous banners.
/// @type string
/// @pattern banner
$zui-banner-danger-selector: ".zui-banner-danger" !default;

/// The selector that matches success banners.
/// @type string
/// @pattern banner
$zui-banner-success-selector: ".zui-banner-success" !default;

/// The selector that matches warning banners.
/// @type string
/// @pattern banner
$zui-banner-warning-selector: ".zui-banner-warning" !default;

/// The background color of an information banner.
/// @type color
/// @pattern banner
$zui-banner-info-background: $zui-color-info !default;

/// The text color of an information banner.
/// @type color
/// @pattern banner
$zui-banner-info-color: $zui-color-white !default;

/// The anchor color of an information banner.
/// @type color
/// @pattern banner
$zui-banner-info-link-color: $zui-color-white !default;

/// The background color of a dangerous banner.
/// @type color
/// @pattern banner
$zui-banner-danger-background: $zui-color-alert !default;

/// The text color of a dangerous banner.
/// @type color
/// @pattern banner
$zui-banner-danger-color: $zui-color-white !default;

/// The anchor color of a dangerous banner.
/// @type color
/// @pattern banner
$zui-banner-danger-link-color: $zui-color-white !default;

/// The background color of a success banner.
/// @type color
/// @pattern banner
$zui-banner-success-background: $zui-color-success !default;

/// The text color of a success banner.
/// @type color
/// @pattern banner
$zui-banner-success-color: $zui-color-white !default;

/// The anchor color of a success banner.
/// @type color
/// @pattern banner
$zui-banner-success-link-color: $zui-color-white !default;

/// The background color of a warning banner.
/// @type color
/// @pattern banner
$zui-banner-warning-background: $zui-color-warning !default;

/// The text color of a warning banner.
/// @type color
/// @pattern banner
$zui-banner-warning-color: $zui-color-white !default;

/// The anchor color of a warning banner.
/// @type color
/// @pattern banner
$zui-banner-warning-link-color: $zui-color-white !default;
