/// A mixin that sets the appearance in a browser independent way.
/// @param {string} $appearance The type of appearance to use.
@mixin zui-appearance($appearance) {
    -moz-appearance: $appearance;
    -webkit-appearance: $appearance;
    appearance: $appearance;
}

/// A mixin that sets the border radius in a browser independent way.
/// @param {string} $size The size to set. You must include the size type.
@mixin zui-border-radius($size) {
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
    border-radius: $size;
}

/// A mixin that sets the box-shadow in a browser independent way.
/// @param {string} $hShadow The horizontal shadow to set.
/// @param {string} $vShadow The vertical shadow to set.
@mixin zui-box-shadow($hShadow, $vShadow) {
    -moz-box-shadow: $hShadow, $vShadow;
    -webkit-box-shadow: $hShadow, $vShadow;
    box-shadow: $hShadow, $vShadow;
}

/// A mixin that sets the box-sizing in a browser independent way.
/// @param {string} $type The type of box-sizing to set.
@mixin zui-box-sizing($type: border-box) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    box-sizing: $type;
}

/// A mixin that sets the font smoothing in a browser independent way.
/// @param {string} $type The type of smoothing to set.
@mixin zui-font-smooth($type: auto) {
    -webkit-font-smoothing: $type;
    -moz-osx-font-smoothing: $type;
    font-smooth: $type;
}

/// A mixin that sets the order on a flex element.
/// @pattern flexgrid
@mixin zui-order($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}
