// The namespace that is used for data attributes:
$namespace: false !default;

// Helpers for cursors:
$cursor-auto-value: auto !default;
$cursor-crosshair-value: crosshair !default;
$cursor-default-value: default !default;
$cursor-disabled-value: not-allowed !default;
$cursor-pointer-value: pointer !default;
$cursor-help-value: help !default;
$cursor-text-value: text !default;

// The colors used throughout the patterns:
$color-primary: #AA2D4C !default;
$color-primary-hover: #DC163F !default;
$color-primary-border: #E0658C !default;

$color-secondary: #F5F5F5 !default;
$color-secondary-hover: #E9E9E9 !default;
$color-alert: #D04437 !default;
$color-success: #8EB021 !default;
$color-warning: #FF8D1C !default;
$color-info: $color-primary !default;
$color-black: #000000 !default;
$color-white: #FFFFFF !default;
$color-red: #FF0000 !default;
$color-blue: #0000FF !default;
$color-green: #00FF00 !default;
