// The namespace that is used for data attributes:
$namespace: false !default;

// Helpers for cursors:
$cursor-auto-value: auto !default;
$cursor-crosshair-value: crosshair !default;
$cursor-default-value: default !default;
$cursor-disabled-value: not-allowed !default;
$cursor-pointer-value: pointer !default;
$cursor-help-value: help !default;
$cursor-text-value: text !default;

// The colors used throughout the patterns:
$color-primary: #AA2D4C;
$color-primary-hover: #DC163F;
$color-primary-border: #E0658C;

$color-secondary: #F5F5F5;
$color-secondary-hover: #E9E9E9;
$color-alert: #D04437;
$color-success: #8EB021;
$color-warning: #FF8D1C;
$color-info: $color-primary;
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #FF0000;
$color-blue: #0000FF;
$color-green: #00FF00;
