@import "variables";

.zui-cursor-all-scroll {
    cursor: $zui-cursor-all-scroll-value;
}

.zui-cursor-alias {
    cursor: $zui-cursor-alias-value;
}

.zui-cursor-auto {
    cursor: $zui-cursor-auto-value;
}

.zui-cursor-cell {
    cursor: $zui-cursor-cell-value;
}

.zui-cursor-col-resize {
    cursor: $zui-cursor-col-resize-value;
}

.zui-cursor-context-menu {
    cursor: $zui-cursor-context-menu-value;
}

.zui-cursor-copy {
    cursor: $zui-cursor-copy-value;
}

.zui-cursor-crosshair {
    cursor: $zui-cursor-crosshair-value;
}

.zui-cursor-default {
    cursor: $zui-cursor-default-value;
}

.zui-cursor-e-resize {
    cursor: $zui-cursor-e-resize-value;
}

.zui-cursor-ew-resize {
    cursor: $zui-cursor-ew-resize-value;
}

.zui-cursor-grab {
    cursor: $zui-cursor-grab-value;
}

.zui-cursor-grabbing {
    cursor: $zui-cursor-grabbing-value;
}

.zui-cursor-help {
    cursor: $zui-cursor-help-value;
}

.zui-cursor-move {
    cursor: $zui-cursor-move-value;
}

.zui-cursor-n-resize {
    cursor: $zui-cursor-n-resize-value;
}

.zui-cursor-ne-resize {
    cursor: $zui-cursor-ne-resize-value;
}

.zui-cursor-nesw-resize {
    cursor: $zui-cursor-nesw-resize-value;
}

.zui-cursor-no-drop {
    cursor: $zui-cursor-no-drop-value;
}

.zui-cursor-none {
    cursor: $zui-cursor-none-value;
}

.zui-cursor-not-allowed {
    cursor: $zui-cursor-not-allowed-value;
}

.zui-cursor-ns-resize {
    cursor: $zui-cursor-ns-resize-value;
}

.zui-cursor-nw-resize {
    cursor: $zui-cursor-nw-resize-value;
}

.zui-cursor-nwse-resize {
    cursor: $zui-cursor-nwse-resize-value;
}

.zui-cursor-pointer {
    cursor: $zui-cursor-pointer-value;
}

.zui-cursor-progress {
    cursor: $zui-cursor-progress-value;
}

.zui-cursor-row-resize {
    cursor: $zui-cursor-row-resize-value;
}

.zui-cursor-s-resize {
    cursor: $zui-cursor-s-resize-value;
}

.zui-cursor-se-resize {
    cursor: $zui-cursor-se-resize-value;
}

.zui-cursor-sw-resize {
    cursor: $zui-cursor-sw-resize-value;
}

.zui-cursor-text {
    cursor: $zui-cursor-text-value;
}

.zui-cursor-vertical-text {
    cursor: $zui-cursor-vertical-text-value;
}

.zui-cursor-w-resize {
    cursor: $zui-cursor-w-resize-value;
}

.zui-cursor-wait {
    cursor: $zui-cursor-wait-value;
}

.zui-cursor-zoom-in {
    cursor: $zui-cursor-zoom-in-value;
}

.zui-cursor-zoom-out {
    cursor: $zui-cursor-zoom-out-value;
}
