/// Cursor showing that something can be scrolled in any direction (panned).
/// @type cursor
/// @pattern cursor
$zui-cursor-all-scroll-value: all-scroll !default;

/// Indicating an alias or shortcut is to be created.
/// @type cursor
/// @pattern cursor
$zui-cursor-alias-value: alias !default;

/// The browser determines the cursor to display based on the current context.
/// @type cursor
/// @pattern cursor
$zui-cursor-auto-value: auto !default;

/// Indicating that cells can be selected.
/// @type cursor
/// @pattern cursor
$zui-cursor-cell-value: cell !default;

/// The item/column can be resized horizontally. Often rendered as arrows pointing left and right with a vertical bar separating.
/// @type cursor
/// @pattern cursor
$zui-cursor-col-resize-value: col-resize !default;

/// A context menu is available under the cursor.
/// @type cursor
/// @pattern cursor
$zui-cursor-context-menu-value: context-menu !default;

/// Indicating that something can be copied.
/// @type cursor
/// @pattern cursor
$zui-cursor-copy-value: copy !default;

/// Cross cursor, often used to indicate selection in a bitmap.
/// @type cursor
/// @pattern cursor
$zui-cursor-crosshair-value: crosshair !default;

/// Default cursor, typically an arrow.
/// @type cursor
/// @pattern cursor
$zui-cursor-default-value: default !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-e-resize-value: e-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-ew-resize-value: ew-resize !default;

/// Indicates that something can be grabbed (dragged to be moved).
/// @type cursor
/// @pattern cursor
$zui-cursor-grab-value: grab !default;

/// Indicates that something can be grabbed (dragged to be moved).
/// @type cursor
/// @pattern cursor
$zui-cursor-grabbing-value: grabbing !default;

/// Indicating help is available.
/// @type cursor
/// @pattern cursor
$zui-cursor-help-value: help !default;

/// The hovered object may be moved.
/// @type cursor
/// @pattern cursor
$zui-cursor-move-value: move !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-n-resize-value: n-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-ne-resize-value: ne-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-nesw-resize-value: nesw-resize !default;

/// Cursor showing that a drop is not allowed at the current location.
/// @type cursor
/// @pattern cursor
$zui-cursor-no-drop-value: no-drop !default;

/// No cursor is rendered.
/// @type cursor
/// @pattern cursor
$zui-cursor-none-value: none !default;

/// Cursor showing that something cannot be done.
/// @type cursor
/// @pattern cursor
$zui-cursor-not-allowed-value: not-allowed !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-ns-resize-value: ns-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-nw-resize-value: nw-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-nwse-resize-value: nwse-resize !default;

/// E.g. used when hovering over links, typically a hand.
/// @type cursor
/// @pattern cursor
$zui-cursor-pointer-value: pointer !default;

/// The program is busy in the background but the user can still interact with the interface (unlike for wait).
/// @type cursor
/// @pattern cursor
$zui-cursor-progress-value: progress !default;

/// The item/row can be resized vertically. Often rendered as arrows pointing up and down with a horizontal bar separating them.
/// @type cursor
/// @pattern cursor
$zui-cursor-row-resize-value: row-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-s-resize-value: s-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-se-resize-value: se-resize !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-sw-resize-value: sw-resize !default;

/// Indicating text can be selected, typically an I-beam.
/// @type cursor
/// @pattern cursor
$zui-cursor-text-value: text !default;

/// Indicating that vertical text can be selected, typically a sideways I-beam.
/// @type cursor
/// @pattern cursor
$zui-cursor-vertical-text-value: vertical-text !default;

/// Some edge is to be moved. For example, the se-resize cursor is used when the movement starts from the south-east corner of the box.
/// @type cursor
/// @pattern cursor
$zui-cursor-w-resize-value: w-resize !default;

/// The program is busy (sometimes an hourglass or a watch).
/// @type cursor
/// @pattern cursor
$zui-cursor-wait-value: wait !default;

/// Indicates that something can be zoomed (magnified) in.
/// @type cursor
/// @pattern cursor
$zui-cursor-zoom-in-value: zoom-in !default;

/// Indicates that something can be zoomed (magnified) out.
/// @type cursor
/// @pattern cursor
$zui-cursor-zoom-out-value: zoom-out !default;

.zui-cursor-all-scroll {
    cursor: $zui-cursor-all-scroll-value;
}

.zui-cursor-alias {
    cursor: $zui-cursor-alias-value;
}

.zui-cursor-auto {
    cursor: $zui-cursor-auto-value;
}

.zui-cursor-cell {
    cursor: $zui-cursor-cell-value;
}

.zui-cursor-col-resize {
    cursor: $zui-cursor-col-resize-value;
}

.zui-cursor-context-menu {
    cursor: $zui-cursor-context-menu-value;
}

.zui-cursor-copy {
    cursor: $zui-cursor-copy-value;
}

.zui-cursor-crosshair {
    cursor: $zui-cursor-crosshair-value;
}

.zui-cursor-default {
    cursor: $zui-cursor-default-value;
}

.zui-cursor-e-resize {
    cursor: $zui-cursor-e-resize-value;
}

.zui-cursor-ew-resize {
    cursor: $zui-cursor-ew-resize-value;
}

.zui-cursor-grab {
    cursor: $zui-cursor-grab-value;
}

.zui-cursor-grabbing {
    cursor: $zui-cursor-grabbing-value;
}

.zui-cursor-help {
    cursor: $zui-cursor-help-value;
}

.zui-cursor-move {
    cursor: $zui-cursor-move-value;
}

.zui-cursor-n-resize {
    cursor: $zui-cursor-n-resize-value;
}

.zui-cursor-ne-resize {
    cursor: $zui-cursor-ne-resize-value;
}

.zui-cursor-nesw-resize {
    cursor: $zui-cursor-nesw-resize-value;
}

.zui-cursor-no-drop {
    cursor: $zui-cursor-no-drop-value;
}

.zui-cursor-none {
    cursor: $zui-cursor-none-value;
}

.zui-cursor-not-allowed {
    cursor: $zui-cursor-not-allowed-value;
}

.zui-cursor-ns-resize {
    cursor: $zui-cursor-ns-resize-value;
}

.zui-cursor-nw-resize {
    cursor: $zui-cursor-nw-resize-value;
}

.zui-cursor-nwse-resize {
    cursor: $zui-cursor-nwse-resize-value;
}

.zui-cursor-pointer {
    cursor: $zui-cursor-pointer-value;
}

.zui-cursor-progress {
    cursor: $zui-cursor-progress-value;
}

.zui-cursor-row-resize {
    cursor: $zui-cursor-row-resize-value;
}

.zui-cursor-s-resize {
    cursor: $zui-cursor-s-resize-value;
}

.zui-cursor-se-resize {
    cursor: $zui-cursor-se-resize-value;
}

.zui-cursor-sw-resize {
    cursor: $zui-cursor-sw-resize-value;
}

.zui-cursor-text {
    cursor: $zui-cursor-text-value;
}

.zui-cursor-vertical-text {
    cursor: $zui-cursor-vertical-text-value;
}

.zui-cursor-w-resize {
    cursor: $zui-cursor-w-resize-value;
}

.zui-cursor-wait {
    cursor: $zui-cursor-wait-value;
}

.zui-cursor-zoom-in {
    cursor: $zui-cursor-zoom-in-value;
}

.zui-cursor-zoom-out {
    cursor: $zui-cursor-zoom-out-value;
}
