/// The background color of a filled status.
/// @type color
/// @pattern status
$zui-status-default-filled-background: #CCC !default;

/// The border of a filled status.
/// @type color
/// @pattern status
$zui-status-default-filled-border: 1px solid #CCC !default;

/// The color of a filled status.
/// @type color
/// @pattern status
$zui-status-default-filled-color: #333 !default;

/// The background color of a subtle status.
/// @type color
/// @pattern status
$zui-status-default-subtle-background: #FFF !default;

/// The border of a subtle status.
/// @type color
/// @pattern status
$zui-status-default-subtle-border: 1px solid #CCC !default;

/// The color of a subtle status.
/// @type color
/// @pattern status
$zui-status-default-subtle-color: #333 !default;

/// The background color of a blue filled status.
/// @type color
/// @pattern status
$zui-status-blue-filled-background: #4A6785 !default;

/// The border of a blue filled status.
/// @type color
/// @pattern status
$zui-status-blue-filled-border: 1px solid #4A6785 !default;

/// The color of a blue filled status.
/// @type color
/// @pattern status
$zui-status-blue-filled-color: #FFF !default;

/// The background color of a blue subtle status.
/// @type color
/// @pattern status
$zui-status-blue-subtle-background: #FFF !default;

/// The border of a blue subtle status.
/// @type color
/// @pattern status
$zui-status-blue-subtle-border: 1px solid #4A6785 !default;

/// The color of a blue subtle status.
/// @type color
/// @pattern status
$zui-status-blue-subtle-color: #4A6785 !default;

/// The background color of a brown filled status.
/// @type color
/// @pattern status
$zui-status-brown-filled-background: #815B3A !default;

/// The border of a brown filled status.
/// @type color
/// @pattern status
$zui-status-brown-filled-border: 1px solid #815B3A !default;

/// The color of a brown filled status.
/// @type color
/// @pattern status
$zui-status-brown-filled-color: #FFF !default;

/// The background color of a brown subtle status.
/// @type color
/// @pattern status
$zui-status-brown-subtle-background: #FFF !default;

/// The border of a brown subtle status.
/// @type color
/// @pattern status
$zui-status-brown-subtle-border: 1px solid #815B3A !default;

/// The color of a brown subtle status.
/// @type color
/// @pattern status
$zui-status-brown-subtle-color: #815B3A !default;

/// The background color of a green filled status.
/// @type color
/// @pattern status
$zui-status-green-filled-background: #14892C !default;

/// The border of a green filled status.
/// @type color
/// @pattern status
$zui-status-green-filled-border: 1px solid #14892C !default;

/// The color of a green filled status.
/// @type color
/// @pattern status
$zui-status-green-filled-color: #FFF !default;

/// The background color of a green subtle status.
/// @type color
/// @pattern status
$zui-status-green-subtle-background: #FFF !default;

/// The border of a green subtle status.
/// @type color
/// @pattern status
$zui-status-green-subtle-border: 1px solid #14892C !default;

/// The color of a green subtle status.
/// @type color
/// @pattern status
$zui-status-green-subtle-color: #14892C !default;

/// The background color of a red filled status.
/// @type color
/// @pattern status
$zui-status-red-filled-background: #D04437 !default;

/// The border of a red filled status.
/// @type color
/// @pattern status
$zui-status-red-filled-border: 1px solid #D04437 !default;

/// The color of a red filled status.
/// @type color
/// @pattern status
$zui-status-red-filled-color: #FFF !default;

/// The background color of a red subtle status.
/// @type color
/// @pattern status
$zui-status-red-subtle-background: #FFF !default;

/// The border of a red subtle status.
/// @type color
/// @pattern status
$zui-status-red-subtle-border: 1px solid #D04437 !default;

/// The color of a red subtle status.
/// @type color
/// @pattern status
$zui-status-red-subtle-color: #D04437 !default;

/// The background color of a yellow filled status.
/// @type color
/// @pattern status
$zui-status-yellow-filled-background: #F6C342 !default;

/// The border of a yellow filled status.
/// @type color
/// @pattern status
$zui-status-yellow-filled-border: 1px solid #F6C342 !default;

/// The color of a yellow filled status.
/// @type color
/// @pattern status
$zui-status-yellow-filled-color: #594300 !default;

/// The background color of a yellow subtle status.
/// @type color
/// @pattern status
$zui-status-yellow-subtle-background: #FFF !default;

/// The border of a yellow subtle status.
/// @type color
/// @pattern status
$zui-status-yellow-subtle-border: 1px solid #F6C342 !default;

/// The color of a yellow subtle status.
/// @type color
/// @pattern status
$zui-status-yellow-subtle-color: #594300 !default;
