@import "variables";
@import "mixins";

.zui-status {
    background: $zui-status-default-filled-background;
    border: $zui-status-default-filled-border;
    border-radius: 3px;
    color: $zui-status-default-filled-color;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    line-height: 99%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.zui-status.zui-status-subtle {
    background: $zui-status-default-subtle-background;
    border: $zui-status-default-subtle-border;
    color: $zui-status-default-subtle-color;
}

.zui-status-blue {
    @include zui-status($zui-status-blue-filled-background, $zui-status-blue-filled-border, $zui-status-blue-filled-color);
}

.zui-status-blue.zui-status-subtle {
    @include zui-status($zui-status-blue-subtle-background, $zui-status-blue-subtle-border, $zui-status-blue-subtle-color);
}

.zui-status-brown {
    @include zui-status($zui-status-brown-filled-background, $zui-status-brown-filled-border, $zui-status-brown-filled-color);
}

.zui-status-brown.zui-status-subtle {
    @include zui-status($zui-status-brown-subtle-background, $zui-status-brown-subtle-border, $zui-status-brown-subtle-color);
}

.zui-status-green {
    @include zui-status($zui-status-green-filled-background, $zui-status-green-filled-border, $zui-status-green-filled-color);
}

.zui-status-green.zui-status-subtle {
    @include zui-status($zui-status-green-subtle-background, $zui-status-green-subtle-border, $zui-status-green-subtle-color);
}

.zui-status-red {
    @include zui-status($zui-status-red-filled-background, $zui-status-red-filled-border, $zui-status-red-filled-color);
}

.zui-status-red.zui-status-subtle {
    @include zui-status($zui-status-red-subtle-background, $zui-status-red-subtle-border, $zui-status-red-subtle-color);
}

.zui-status-yellow {
    @include zui-status($zui-status-yellow-filled-background, $zui-status-yellow-filled-border, $zui-status-yellow-filled-color);
}

.zui-status-yellow.zui-status-subtle {
    @include zui-status($zui-status-yellow-subtle-background, $zui-status-yellow-subtle-border, $zui-status-yellow-subtle-color);
}
