/// The border size of blockquotes.
/// @type size
/// @pattern typography
$zui-blockquote-border-size: 1px !default;

/// The border style of blockquotes.
/// @type border-style
/// @pattern typography
$zui-blockquote-border-style: solid !default;

/// The border color of blockquotes.
/// @type color
/// @pattern typography
$zui-blockquote-border-color: #CCC !default;

/// The textual color of blockquotes.
/// @type color
/// @pattern typography
$zui-blockquote-color: #707070 !default;

/// The margin of blockquotes.
/// @type margin
/// @pattern typography
$zui-blockquote-margin: 0px 0px 20px 20px !default;

/// The padding of blockquotes.
/// @type padding
/// @pattern typography
$zui-blockquote-padding: 10px 20px !default;

blockquote {
    border-left: $zui-blockquote-border-size $zui-blockquote-border-style $zui-blockquote-border-color;
    color: $zui-blockquote-color;
    margin: $zui-blockquote-margin;
    padding: $zui-blockquote-padding;
}
