/// The selector that matches a horizontal line.
/// @type string
$zui-horizontal-line-selector: "hr" !default;

/// The background of the horizontal line. Usually just the color.
/// @type color
$zui-horizontal-line-background: #CCC !default;

/// The border of the horizontal line. Usually just the size.
/// @type size
$zui-horizontal-line-border: 1px !default;

/// The height of the horizontal line.
/// @type size
$zui-horizontal-line-height: 1px !default;

/// The margin of the horizontal line.
/// @type size
$zui-horizontal-line-margin: 20px 0px !default;

#{$zui-horizontal-line-selector} {
    background: $zui-horizontal-line-background;
    border: $zui-horizontal-line-border;
    height: $zui-horizontal-line-height;
    margin: $zui-horizontal-line-margin;
}
