p {
    margin: 0px 0px 20px 0px;
}

.zui-text-left {
    text-align: left;
}

.zui-text-right {
    text-align: right;
}

.zui-text-center {
    text-align: center;
}

.zui-text-justify {
    text-align: justify;
}
