.zui-visible {
    visibility: visible;
}

.zui-hidden {
    visibility: hidden;
}

.zui-hide {
    display: none;
}

.zui-show {
    display: block;
}

.zui-show-inline {
    display: inline-block;
}
